.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  height: 808px;
  min-height: fit-content;
  position: relative;
  overflow: hidden;
}
.header {
  grid-column: 1 / span 1;
  height: 100%;
  position: relative;
}
.header .headerContent {
  position: absolute;
  top: 182px;
  max-width: 544px;
  height: fit-content;
}
.header .headerContent h6 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(128, 10, 174, 1);
}
.header .headerContent h2 {
  font-family: var(--urbanist);
  font-size: 64px;
  font-weight: 600;
  line-height: 76.8px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(51, 51, 51, 1);
}
.header .headerContent p {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(51, 51, 51, 1);
}

.btn {
  grid-column: 1 / span 1;

  height: 100%;
  position: relative;
}
.btn button {
  position: absolute;
  top: 68px;
  width: 222px;
  height: 52px;
  padding: 8px 26px 8px 26px;
  gap: 8px;
  box-shadow: 7px 13px 30px 0px rgba(235, 57, 251, 0.6);

  background: rgba(131, 15, 176, 1);
  color: #fff;
  cursor: pointer;
  border-radius: 31px;
  -webkit-border-radius: 31px;
  -moz-border-radius: 31px;
  -ms-border-radius: 31px;
  -o-border-radius: 31px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.btn button:hover {
  box-shadow: 7px 13px 30px 0px rgba(227, 117, 237, 0.6);
  background: rgb(180, 67, 224);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.images {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  height: 100%;
  min-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  position: relative;
}
.imageRow1,
.imageRow2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 744px;
  width: 41.9%;
  gap: 48px;
}
.imageRow1 {
  position: absolute;
  top: 0;
  left: 0;
}
.imageRow2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.imageFrame {
  width: 100%;
  height: 348px;
}
.imageFrame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
  border: 1px solid rgba(128, 10, 174, 1);
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    row-gap: 25px;
    height: fit-content;
    min-height: 682px;
  }
  .header {
    grid-row: 1 / span 1;
    height: fit-content;
    min-height: fit-content;
  }
  .header .headerContent {
    position: relative;
    max-width: 90%;
    top: 0%;
  }
  .header .headerContent h6 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(128, 10, 174, 1);
  }
  .header .headerContent h2 {
    font-family: var(--urbanist);
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: rgba(51, 51, 51, 1);
  }
  .header .headerContent p {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: rgba(51, 51, 51, 1);
  }

  .btn {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    height: fit-content;
    position: relative;
  }
  .btn button {
    position: relative;
    top: 0px;
    width: 100%;
    height: 52px;
    padding: 8px 26px 8px 26px;
    box-shadow: none;
  }

  .images {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    height: fit-content;
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    position: relative;
  }
  .imageRow1,
  .imageRow2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 41.9%;
    min-width: 100px;
    height: fit-content;
    gap: 14px;
  }
  .imageRow1 {
    position: relative;
    top: 0;
    left: 0;
  }
  .imageRow2 {
    position: relative;
    bottom: 0;
    right: 0;
  }

  .imageFrame {
    width: 100%;
    max-height: 189px;
    height: 189px;
  }
  .imageFrame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    border: 1px solid rgba(128, 10, 174, 1);
  }
  .Frame11 {
    transform: translateX(-5%);
    -webkit-transform: translateX(-5%);
    -moz-transform: translateX(-5%);
    -ms-transform: translateX(-5%);
    -o-transform: translateX(-5%);
  }
  .Frame12 {
    transform: translateX(5%);
    -webkit-transform: translateX(5%);
    -moz-transform: translateX(5%);
    -ms-transform: translateX(5%);
    -o-transform: translateX(5%);
  }
  .Frame21 {
    transform: translateX(-5%);
    -webkit-transform: translateX(-5%);
    -moz-transform: translateX(-5%);
    -ms-transform: translateX(-5%);
    -o-transform: translateX(-5%);
  }
  .Frame22 {
    transform: translateX(5%);
    -webkit-transform: translateX(5%);
    -moz-transform: translateX(5%);
    -ms-transform: translateX(5%);
    -o-transform: translateX(5%);
  }
}
@media screen and (max-width: 768px) {
}
